.user-item-link {
  text-decoration: none;
  color: black;
}

.user-item{
  width: 390px;
  height: 130px;
}

.user-item:hover {
  background-color: #cbe8ba;
}

.single-post {
  padding-bottom: 10px;
  border-bottom: 1px solid #aaaaaa;
}

.show-comments-link {
  color: #006ce5;
  cursor: pointer;
  text-decoration: none;
}

.show-comments-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left-color: #006ce5;
  margin-left: 10px;
  vertical-align: middle;
}

.home-page-sidebar {
  background-color: rgb(61, 107, 33);
  cursor: pointer;
  padding: 20px;
  color: white;
}
.home-page-sidebar:hover {
  background-color: #3d6227;
}